* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8fafc;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

section {
    position: relative;
    min-height: 100vh; 
    background-color: #1e293b;
}

footer {
    min-height: 300px;
    background-color: #000;
}