/* Container Utama */
#section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../assets/images/bg_section1.jpg");
    font-family: 'Jacques Francois', serif;
}

#section-1 > div:not(#profil) {
    position: absolute; 
    font-size: 7.5rem;    
    white-space: nowrap;
    pointer-events: none; 
    user-select: none;    
    z-index: 1;          
}

#section-1 > div:nth-child(1) {
    top: 10%;      
    left: -4%;    
}

#section-1 > div:nth-child(2) {
    top: 23%;
    left: 15%;
}

#section-1 > div:nth-child(4) {
    top: 52%;
    left: 8%;
}

#section-1 > div:nth-child(5) {
    bottom: 14%;   
    left: 2%;  
}

#section-1 > div:nth-child(6) {
    bottom: 0%;
    left: 25%;
}

#profil {
    position: relative;
    z-index: 2; 
    max-width: 1100px;
    padding: 30px 30px;
    background: #F3F2ED;
    text-align: left;
    font-size: 1.1rem;
    font-family: 'Roboto Serif', serif; 
}

/* Animasi */

.autoBlur {
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}

@keyframes autoBlurAnimation {
    0% {
        filter: blur(20px);
        opacity: 1;
    }
    
    45%, 55% {
        filter: blur(0px);opacity: 1;
    }
    
    100% {
        filter: blur(20px);opacity: 1;
    }
}